# Database (Supabase PostgreSQL)
DATABASE_URL="postgresql://user:password@host:5432/database"

# NextAuth v5
AUTH_SECRET="generate-with-openssl-rand-base64-32"
AUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST="true"
NEXTAUTH_URL="http://localhost:3000"

# Stripe (Use LIVE keys in production!)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY="pk_live_..."
STRIPE_SECRET_KEY="sk_live_..."
STRIPE_WEBHOOK_SECRET="whsec_..."

# App URLs
NEXT_PUBLIC_APP_URL="https://bku-tickets.untgab.com"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"  # ⭐ NEU für lokale Entwicklung


RESEND_API_KEY= "re_QGntaFVJ_6MTLNLNAph516Ezo6w66FciN"

# Pusher Keys
NEXT_PUBLIC_PUSHER_KEY="d1415a2088e34cf3ccbf5"
NEXT_PUBLIC_PUSHER_CLUSTER="eu"
PUSHER_APP_ID="2111044"
PUSHER_SECRET="5dae4dcd7fb82cd4963c"
